<div id='landing'>

  <div row='banner' class='row'>
    <div class="jumbotron">
      <div class="jumbotron-copy-container">
        <div class="jumbotron-copy"></div>
      </div>
    </div> <!-- END JUMBOTRON -->
  </div>  <!-- END BANNER -->
  <div class="partners"></div>
  <div class="pitches_near"></div>
  <div class='instructions'>

    <div class='row'>
      <div class='instruction col-xs-12 col-sm-6'>
        <!-- MAKE A GROUP -->
        <%= content_tag :div, (image_tag 'icons/Watches@2x.png', class: 'img-responsive'), class: "centred" %>
        <%= content_tag :div, (content_tag :h3, "Add your group and start creating events"), class: "" %>
      </div>

      <div class='instruction col-xs-12 col-sm-6'>
      <!-- Share your events -->
      <%= content_tag :div, (image_tag 'icons/Chat@2x.png', class: 'img-responsive'), class: "centred" %>
      <%= content_tag :div, (content_tag :h3, "Share your events across your social media"), class: "" %>
      </div>
    </div>

    <div class='row'>
      <div class='instruction col-xs-12 col-sm-6'>
      <!-- See volunteers -->
      <%= content_tag :div, (image_tag 'icons/Clipboard@2x.png', class: 'img-responsive'), class: "centred" %>
      <%= content_tag :div, (content_tag :h3, "You'll see who is signed up and how to contact them"), class: "" %>
      </div>

      <div class='instruction col-xs-12 col-sm-6'>
        <!-- Emails -->
        <%= content_tag :div, (image_tag 'icons/Mail@2x.png', class: 'img-responsive'), class: "centred" %>
        <%= content_tag :div, (content_tag :h3, "We'll remind your volunteers when an event is approaching"), class: "" %>
      </div>
    </div>
    <footer class="footer">

    </footer>>
</div>