<div class='event row'>

  <div class='col-md-8'>
      <div class='event_image'>
        <%= image_tag(@event.image.url, class: "img-responsive") unless @event.image.detail.url.nil? %>
      </div>
      <h1 class='name'><%=@event.name%> </h1>
      <p class='description' ><%= @event.description%></p>
  </div>

  <div id='sidebar' class='col-md-4'>
    <div id='event_info row'>

      <div id='event_stats' class='col-xs-4'>
        <p>
          <span class='stat'><%= @days_till_event %></span>
          <br/>
          <span class='stat_label'>days</span>
        </p>

        <p>
          <span class='stat'><%= @event.volunteers.count %></span>
          <br/>
          <span class='stat_label'>participants</span>
        </p>
      </div>

      <div id='event_health' class='col-xs-8'>
        <span class='stat orange'><%= @event.health %> %</span>
      </div>
    </div>
    <div class='map flex-map col-xs-12'>
      <%= gmaps({ map_options: { auto_adjust: false, zoom: 14, center_latitude:  @event.latitude, center_longitude: @event.longitude }, markers: { data: @eventmap } }) %>
    </div>
    <h4 class='orange'>If participatants goal is reached the meetup will happen on:</h4>
    <h3><%= @event.date.strftime("%^B %d, %Y")  %><br> <%= @event.date.strftime("%I:%M%P")  %></h3>
    <h3><%= @event.location %></h3>
  </div>

</div>
