<!DOCTYPE html>
<html>
<head>
  <title>Vapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPPER']}&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <%= render partial: "shared/navigation" %>
    </header>
    <%= yield %>
</body>
<%= yield :scripts %>

</html>
